.mejs-controls .mejs-next-button button {
	background-position: -96px -32px;
}

.mejs-controls .mejs-prev-button button {
	background-position: -192px -32px;
	width: 22px;
}

.mejs-controls .mejs-repeat-button.repeat-off button {
	background-position: -224px -32px;
	width: 22px;
}

.mejs-controls .mejs-repeat-button.repeat-on button {
	background-position: -256px -32px;
	width: 22px;
}